<div class="page-header clear-filter " filter-color="black">
    <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/backgroundNegro.jpg');">
    </div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain" style="margin-top:40%">
                <div class="alert alert-danger" role="alert" *ngIf="message != ''">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="now-ui-icons objects_support-17"></i>
                        </div>
                        <strong>{{message}}</strong>
                        <button type="button" class="close" (click)="removeMessage()">
                            <span aria-hidden="true">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="successMessage != ''">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="now-ui-icons objects_support-17"></i>
                        </div>
                        <strong>{{message}}</strong>
                        <button type="button" class="close" (click)="removeMessage()">
                            <span aria-hidden="true">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <h3 class="title">Mashes destacados</h3>
                <div class="row">
                    <div class="col-md-4 content-center" *ngFor="let mashDest of mashesDest">
                        <button class="btn btn-primary btn-round" type="button">
                            <i class="now-ui-icons media-1_button-play"></i>
                        </button>
                        <a routerLink="mash/{{mashDest.id}}">
                            <h4>{{mashDest.name}}</h4>
                        </a>
                        <h4>Ronda {{mashDest.rounds.length}}</h4>
                    </div>
                </div>

                <div class="row" *ngIf="mashes">
                    <div class="col-md-12 content-center">
                        <div class="card card-login card-plain">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Otros Mashes</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Nombre
                                            </th>
                                            <th>
                                                Likes
                                            </th>
                                            <th>
                                                Round
                                            </th>
                                            <th>

                                            </th>
                                            <th>

                                            </th>
                                            <th>

                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let mashi of mashes">
                                                <td>
                                                    <a routerLink="mashes/{{mashi.id}}">{{mashi.name}}</a>
                                                </td>
                                                <td>
                                                    {{mashi.users.length}}
                                                </td>
                                                <td>
                                                    {{mashi.rounds.length}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary btn-round" type="button"><i class="now-ui-icons media-1_button-play"></i></button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary btn-round" type="button"><i class="now-ui-icons arrows-1_cloud-download-93"></i></button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-info btn-round" type="button"><i class="now-ui-icons ui-2_like"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>