<!--
  <div class="page-header clear-filter" filter-color="black">
    <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/backgroundNegro.jpg');">
      <div class="container" style="padding: 10%">
        <div class="col-md-6" style="margin-left: 25%">
            <div class="card card-login card-plain">
              <div *ngIf="message" class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <span>
                        <b> Error</b> {{message}}
                    </span>
              </div>
                <form class="form">
                    <div class="content mt-5">
                        <div class="input-group form-group-no-border input-lg">
                            
                            <input type="text" class="form-control" placeholder="Nombre de snippet" id="name" name="name" [(ngModel)]="snippet.name">
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            
                            
                              <select class="form-control" id="instrument_id" name="instrument_id" [(ngModel)]="snippet.instrument_id">
                                  <option *ngFor="let instrument of instruments" value="{{instrument.id}}">{{instrument.name}} </option>
                              </select>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Aceptar</button>
                        <button class="btn btn-danger btn-round btn-lg btn-block">Cancelar</button>
                    </div>
                    
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
-->
<div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url(../assets/img/backgrounNegro.jpg)"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form class="form" method="" action="">
                        <div class="content">
                                <h2 class="title">Subir snippet</h2>
                            <div class="input-group form-group-no-border input-lg">
                                <input type="text" class="form-control" placeholder="Nombre del snippet">
                            </div>
                            <div class="input-group form-group-no-border input-xl">
                                    <select class="form-control text-white" placeholder="Instrumento">
                                        <option selected>Instrumento</option>
                                        <ng-container *ngFor="let snippet of snippets" class="form-group">
                                                <option>{{snippet.instrument}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            <div class="input-group form-group-no-border input-lg">
                                    <input type="file" id="myFile">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-3">
                                    <a href="#pablo" class="btn btn-danger btn-round btn-lg btn-block">Cancelar</a>
                            </div>
                            <div class="col-md-3">
                                    <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block">Aceptar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>